<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="equipo">
      <h2 data-cy="equipoDetailsHeading"><span jhiTranslate="gymkanappApp.equipo.detail.title">Equipo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gymkanappApp.equipo.identificador">Identificador</span></dt>
        <dd>
          <span>{{ equipo.identificador }}</span>
        </dd>
        <dt><span jhiTranslate="gymkanappApp.equipo.cantidadIntegrantes">Cantidad Integrantes</span></dt>
        <dd>
          <span>{{ equipo.cantidadIntegrantes }}</span>
        </dd>
        <dt><span jhiTranslate="gymkanappApp.equipo.nombre">Nombre</span></dt>
        <dd>
          <span>{{ equipo.nombre }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/equipo', equipo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
