<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="puntoControl">
      <h2 data-cy="puntoControlDetailsHeading"><span jhiTranslate="gymkanappApp.puntoControl.detail.title">Punto Control</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ puntoControl.id }}</span>
        </dd>
        <dt><span jhiTranslate="gymkanappApp.puntoControl.identificador">Identificador</span></dt>
        <dd>
          <span>{{ puntoControl.identificador }}</span>
        </dd>
        <dt><span jhiTranslate="gymkanappApp.puntoControl.orden">Orden</span></dt>
        <dd>
          <span>{{ puntoControl.orden }}</span>
        </dd>
        <dt><span jhiTranslate="gymkanappApp.puntoControl.nombre">Nombre</span></dt>
        <dd>
          <span>{{ puntoControl.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="gymkanappApp.puntoControl.direccion">Direccion</span></dt>
        <dd>
          <span>{{ puntoControl.direccion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/punto-control', puntoControl.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
