<div>
  <h2 id="page-heading" data-cy="EquipoHeading">
    <span jhiTranslate="gymkanappApp.equipo.home.title">Equipos</span>

    <div class="d-flex justify-content-end">
        <button class="btn btn-warning me-2" (click)="this.activeAdvancedSearch = !this.activeAdvancedSearch" [disabled]="isLoading">
        <fa-icon icon="magnifying-glass"></fa-icon>
        <span jhiTranslate="busquedaAvanzada">Búsqueda avanzada</span>
      </button>

      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gymkanappApp.equipo.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-equipo"
        [routerLink]="['/equipo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gymkanappApp.equipo.home.createLabel"> Crear nuevo Equipo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

    <div class="busqueda-avanzada" *ngIf="this.activeAdvancedSearch">
    <div class="row">
      <h4 class="col-12 col-md-12 title">Búsqueda avanzada</h4>
    </div>

    <div class="row">
      <div class="col-12 col-md-3">
        <label class="form-label" for="field_dni">Identificador</label>
        <input [(ngModel)]="identificadorFilter" type="text" class="form-control" name="dni" id="field_dni" data-cy="dni" />
      </div>

      <div class="col-12 col-md-9">
        <label class="form-label" for="field_nombre">Nombre</label>
        <input [(ngModel)]="nombreFilter" type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" />
      </div>

    </div>

    <div class="botones d-flex justify-content-end">
      <button (click)="clearAdvancedSearch()" class="btn btn-secondary">Limpiar</button>
      <button (click)="advancedSearch()" class="btn btn-primary">Buscar</button>
    </div>

  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="equipos?.length === 0">
    <span jhiTranslate="gymkanappApp.equipo.home.notFound">Ningún Equipos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="equipos && equipos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="identificador">
            <div class="d-flex">
              <span jhiTranslate="gymkanappApp.equipo.identificador">Identificador</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cantidadIntegrantes">
            <div class="d-flex">
              <span jhiTranslate="gymkanappApp.equipo.cantidadIntegrantes">Cantidad Integrantes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span jhiTranslate="gymkanappApp.equipo.nombre">Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equipos; trackBy: trackId" data-cy="entityTable">
          <td>{{ equipo.identificador }}</td>
          <td>{{ equipo.cantidadIntegrantes }}</td>
          <td>{{ equipo.nombre }}</td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/participante']"
                [queryParams]="{ 'filter[equipoId.in]': equipo.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('gymkanappApp.equipo.participantes' | translate) }"
                  >Show Participante</span
                >
              </button>
              <button type="submit" [routerLink]="['/equipo', equipo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/equipo', equipo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(equipo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="equipos && equipos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
