<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-equipo-heading" data-cy="EquipoCreateUpdateHeading" jhiTranslate="gymkanappApp.equipo.home.createOrEditLabel">
        Crear o editar Equipo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymkanappApp.equipo.identificador" for="field_identificador">Identificador</label>
          <input
            type="text"
            class="form-control"
            name="identificador"
            id="field_identificador"
            data-cy="identificador"
            formControlName="identificador"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymkanappApp.equipo.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymkanappApp.equipo.cantidadIntegrantes" for="field_cantidadIntegrantes"
            >Cantidad Integrantes</label
          >
          <input
            type="number"
            class="form-control"
            name="cantidadIntegrantes"
            id="field_cantidadIntegrantes"
            data-cy="cantidadIntegrantes"
            formControlName="cantidadIntegrantes"
          />
          <div
            *ngIf="
              editForm.get('cantidadIntegrantes')!.invalid &&
              (editForm.get('cantidadIntegrantes')!.dirty || editForm.get('cantidadIntegrantes')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cantidadIntegrantes')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cantidadIntegrantes')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              Este campo debe ser mayor que 1.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('cantidadIntegrantes')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
